.Map-Header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #2188ca;
  width: 100%;
  // padding: 44px 0;
  .header-logo img {
    padding: 7px 0 0 30px;
    width: 36px;
    height: 36px;
  }
}

.Map-Header-Left {
  margin-left: 20px;
  display: flex;
  align-content: center;
  color: white;
}



.Map-Header-Left span {
  text-align: center;
  line-height: 25px;
  margin-left: 20px;
}

.Map-Header-right {
  // align-self: flex-end;
}
