.mapsiderbar {
  position: relative;
}

.mapsiderbar-container {
  position: absolute;
  z-index: 1;

  box-sizing: border-box;
  width: 650px;
  padding: 50px 25px 0 25px;
  height: 100vh;

  color: gray;
  background: white;

}
